html,
body {
    margin: 0;
    padding: 0;
}

h2 {
    text-decoration: none;
    color: #433825;
    font-size: 30px;
    font-family: Bowlby One SC;
    list-style-type: none;
    margin: -75px auto 50px auto;
    text-align: center;
}

a {
    color: #433825;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-family: Bowlby One SC;
    list-style-type: none;
    font-size: 30px;
    color: #433825;
}

#p1 {
    margin: 0px 0px 15px 410px;
}

.p2 {
    margin: 20px 0px 0px 15px;
}

.p3 {
    font-size: 25px;
    margin: 0px 0px 0px 15px;
}

h3 {
    font-family: Bowlby One SC;
    list-style-type: none;
    font-size: 50px;
    color: #433825;
    margin: 110px 0px 0px 410px;
}

#art {
    align-self: left;
    height: 65px;
    margin: 100px 0px 0px 234px;
}

#home,
li,
img,
a {
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transion: all 300ms;
    -o-transition: all 300ms;
}


/* HOME **************************************************************/

#pfeil {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    margin: 50px 0px 0px 50px;
}

#pfeil:hover {
    transform: translateX(-10px);
}

#home {
    background-image: url(Bilder/Hintergrund\ Art.svg);
    background-position: center 0;
    background-size: cover;
    /* height: 6000px; */
    position: static;
}

#home h1 {
    font-family: Bowlby One SC;
    color: #433825;
    margin: -15px auto 60px auto;
    padding: 100px 0 0 0;
    font-size: 100px;
    text-align: center;
}

#home ul li {
    width: 6%;
    display: inline-block;
    margin: 0 0 0 0;
    text-align: center;
    padding-right: 37px;
}

#photo,
#conc,
#wall,
#mus {
    margin: 0px 0px 0px 400px;
}

#music {
    padding-bottom: 100px;
}

.b {
    width: 400px;
    margin: 5px;
    border: #606061;
    border-radius: 10px;
}

.b1 {
    width: 400px;
    margin: 5px;
    border: #606061;
    border-radius: 10px;
    cursor: pointer;
}

.c {
    width: 400px;
    height: 560px;
    margin: 5px;
    border: #606061;
    border-radius: 10px;
}

.d,
.d1 {
    width: 605px;
    margin: 5px;
    background: aqua;
    border: #606061;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: #000000c2;
}

#popup_img {
    width: 90vw;
    height: 80vh;
    object-fit: contain;
    box-shadow: #000;
}

#popup_text {
    color: #CABA9F;
    margin: -100px 0px 0px 0px;
    font-size: 40px;
}

#popup[enabled="false"] {
    display: none;
}

#a1,
#a2,
#a3,
#a4 {
    margin: 0px 0px 10px 0px;
}

.nochnicht {
    display: none;
}


/* FOOTER **************************************************************/

footer {
    width: 100%;
    height: 70px;
    background-color: #433825;
    bottom: 0;
}

footer p {
    font-family: Bowlby One SC;
    font-size: 20px;
    color: #CABA9F;
    padding-top: 25px;
    margin: 0;
    text-align: center;
}


/* MEDIA QUERIES **************************************************************/

@media screen and (min-width:2100px) {
    h3 {
        font-family: Bowlby One SC;
        list-style-type: none;
        font-size: 50px;
        color: #433825;
        margin: 110px 0px 0px 23%;
    }
    #photo,
    #conc,
    #wall,
    #mus {
        margin: 0px 0px 0px 23%;
    }
    .b {
        width: 400px;
        margin: 5px;
        border: #606061;
        border-radius: 10px;
    }
    .b1 {
        width: 400px;
        margin: 5px;
        border: #606061;
        border-radius: 10px;
        cursor: pointer;
    }
    .c {
        width: 400px;
        height: 560px;
        margin: 5px;
        border: #606061;
        border-radius: 10px;
    }
    .d {
        width: 605px;
        margin: 5px;
        background: aqua;
        border: #606061;
    }
}

@media screen and (max-width:1700px) {
    h3 {
        font-family: Bowlby One SC;
        list-style-type: none;
        font-size: 50px;
        color: #433825;
        margin: 110px 0px 0px 23%;
    }
    #photo,
    #conc,
    #wall,
    #mus {
        margin: 0px 0px 0px 23%;
    }
    .b {
        width: 300px;
        margin: 5px;
        border: #606061;
        border-radius: 10px;
    }
    .b1 {
        width: 300px;
        margin: 5px;
        border: #606061;
        border-radius: 10px;
        cursor: pointer;
    }
    .c {
        width: 300px;
        height: 450px;
        margin: 5px;
        border: #606061;
        border-radius: 10px;
    }
    .d {
        width: 505px;
        margin: 5px;
        background: aqua;
        border: #606061;
    }
    .d1 {
        display: none;
    }
}

@media screen and (max-width:1300px) {
    html,
    body {
        height: 100%;
        overflow: hidden;
    }
    .nochnicht {
        padding-top: 20vw;
        width: 90vw;
        height: 80vh;
        object-fit: contain;
        box-shadow: #000;
        position: fixed;
        top: 0;
        left: 0;
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        background: #dbd3bbd8;
        z-index: 2;
    }
    #nochnichttext {
        font-family: Bowlby One SC;
        text-align: center;
        list-style-type: none;
        color: #433825;
        font-size: 4vw;
        margin: -55vw 5vw 0 5vw;
        line-height: 100%
    }
}