html,
body {
    margin: 0;
    padding: 0;
}

h2 {
    text-decoration: none;
    color: #433825;
    font-size: 30px;
    font-family: Bowlby One SC;
    list-style-type: none;
    margin: -75px auto 50px auto;
    text-align: center;
}

a {
    color: #433825;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-family: Bowlby One SC;
    list-style-type: none;
    font-size: 30px;
    color: #433825;
    margin: 0px 0px 75px 410px;
}

#insta {
    align-self: left;
    height: 65px;
    margin: 75px 0px 0px 264px;
}

#home,
li,
img {
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transion: all 300ms;
    -o-transition: all 300ms;
}


/* HOME **************************************************************/

#pfeil {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    margin: 50px 0px 0px 50px;
}

#pfeil:hover {
    transform: translateX(-10px);
}

#home {
    background-image: url(Bilder/Hintergrund\ Instagram.svg);
    background-position: center 0;
    background-size: cover;
    position: static;
}

#home h1 {
    font-family: Bowlby One SC;
    color: #433825;
    margin: -15px auto 60px auto;
    padding: 100px 0 0 0;
    font-size: 100px;
    text-align: center;
}

#home ul li {
    width: 6%;
    display: inline-block;
    margin: 0 0 0 0;
    text-align: center;
    padding-right: 37px;
}

#fylaom {
    margin: 100px -10px 0px 400px;
    width: 70%;
}

#fylaomphoto,
#fylaomart {
    margin: 100px -10px 0px 400px;
    width: 70%;
}

.nochnicht {
    display: none;
}


/* FOOTER **************************************************************/

footer {
    width: 100%;
    height: 70px;
    background-color: #433825;
    bottom: 0;
}

footer p {
    font-family: Bowlby One SC;
    font-size: 20px;
    color: #CABA9F;
    padding-top: 25px;
    margin: 0;
    text-align: center;
}


/* MEDIA QUERIES **************************************************************/

@media screen and (min-width:2000px) {
    #fylaom {
        margin: 200px -10px 0px 23%;
        width: 70%;
    }
    #fylaomphoto,
    #fylaomart {
        margin: 100px -10px 0px 23%;
        width: 70%;
    }
    p {
        margin: 0 0 75px 23%;
    }
}

@media screen and (max-width:1400px) {
    html,
    body {
        height: 100%;
        overflow: hidden;
    }
    .nochnicht {
        padding-top: 20vw;
        width: 90vw;
        height: 80vh;
        object-fit: contain;
        box-shadow: #000;
        position: fixed;
        top: 0;
        left: 0;
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        background: #dbd3bbd8;
        z-index: 2;
    }
    #nochnichttext {
        font-family: Bowlby One SC;
        text-align: center;
        list-style-type: none;
        color: #433825;
        font-size: 4vw;
        margin: -55vw 5vw 0 5vw;
        line-height: 100%
    }
}