@font-face {
    font-family: 'bowlby_one_scregular';
    src: url('../webfonts/bowlbyonesc-webfont.eot');
    src: url('../webfonts/bowlbyonesc-webfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/bowlbyonesc-webfont.woff2') format('woff2'), url('../webfonts/bowlbyonesc-webfont.woff') format('woff'), url('../webfonts/bowlbyonesc-webfont.ttf') format('truetype'), url('../webfonts/bowlbyonesc-webfont.svg#bowlby_one_scregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#home {
    background-image: url(Bilder/Hintergrund.svg);
    background-color: #CABA9F;
    background-position: center 0;
    background-size: cover;
    position: relative;
}

#home,
img,
#email {
    /* hover dings */
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transion: all 300ms;
    -o-transition: all 300ms;
}


/* ----- ----- ----- SCHRIFTARTEN ----- GRÖßEN ----- ----- -----*/

h1 {
    font-family: 'bowlby_one_scregular';
    color: #433825;
    margin: -15px auto 0px auto;
    padding: 21vw 0 0 0;
    font-size: 125px;
    letter-spacing: 10px;
    line-height: 220px;
}

h2 {
    /* kleine überschriften */
    text-decoration: none;
    color: #433825;
    font-size: 82px;
    font-family: 'bowlby_one_scregular';
    list-style-type: none;
    margin: 300px auto 0px auto;
    position: relative;
    z-index: 1;
}

#h2 {
    margin-top: 70vh;
}

p {
    /* kleiner text */
    font-family: 'bowlby_one_scregular';
    list-style-type: none;
    color: #433825;
    margin: 0px 275px 0px 275px;
    font-size: 36px;
    position: relative;
    z-index: 1;
}


/* ----- ----- ----- A ----- ----- ----- -----*/

a {
    /* links (werden unterstrichen) */
    color: #463925;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* ----- ----- ----- MENU ----- ----- ----- -----*/

.streifen {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    height: calc(100% - (21vw - 15px + 220px));
    overflow: hidden;
    width: 100%;
    z-index: 0;
}

.streifen>div {
    margin: 0px 0px 0px 0px;
    position: relative;
    padding: 35px;
    height: 2000vh;
}

.rot {
    background-color: #d77b68;
}

.gelb {
    background-color: #d8a569;
}

.grün {
    background-color: #87a086;
}

.blau {
    background-color: #7c948a;
}

#insta,
#art,
#mail,
#discord {
    /* icon */
    z-index: 1;
    width: 3vw;
    height: 3vw;
}


/* ----- ----- ----- INSTGRAM ----- ----- ----- -----*/

.telefon {
    /* telefon */
    margin: 0px 0px 0px 0px;
    position: relative;
}

#tele1 {
    /* telefon unten */
    height: 15vw;
    margin: 0;
    position: absolute;
    z-index: 2;
    padding-bottom: 7vh;
    pointer-events: none;
}

#tele2 {
    /* telefon oben */
    height: 15vw;
    margin: 0;
    position: relative;
    z-index: 1;
    padding-bottom: 7vh;
}


/* ----- ----- ----- EMAIL ----- ----- ----- -----*/

#email {
    /* nur adresse */
    font-size: 30px;
    display: inline-block;
    margin-bottom: 7vh;
    position: relative;
    z-index: 1;
}

#email:hover {
    transform: scale(1.05);
}


/* ----- ----- ----- BILDER ----- ----- ----- -----*/

img:hover {
    /* animation von bildern (icons und pics) */
    transform: translateY(5px);
}

.pic {
    /* kasette */
    margin: 0px 170px 200px -110px;
    width: 25vw;
    position: relative;
    z-index: 1;
}

.pic2 {
    /* gameboy */
    margin: 176px -20px -40px -100px;
    width: 20vw;
    position: relative;
    z-index: 1;
}

.kekspic {
    /* keks */
    margin: 150px 0px 0px 0px;
    width: 20vw;
    position: relative;
    z-index: 1;
}

.kekspic:hover {
    animation: rotate 2s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(18deg);
    }
    10% {
        transform: rotate(36deg);
    }
    15% {
        transform: rotate(54deg);
    }
    20% {
        transform: rotate(72deg);
    }
    25% {
        transform: rotate(90deg);
    }
    30% {
        transform: rotate(108deg);
    }
    35% {
        transform: rotate(126deg);
    }
    40% {
        transform: rotate(144deg);
    }
    45% {
        transform: rotate(162deg);
    }
    50% {
        transform: rotate(180deg);
    }
    55% {
        transform: rotate(198deg);
    }
    60% {
        transform: rotate(216deg);
    }
    65% {
        transform: rotate(234deg);
    }
    70% {
        transform: rotate(252deg);
    }
    75% {
        transform: rotate(270deg);
    }
    80% {
        transform: rotate(288deg);
    }
    85% {
        transform: rotate(306deg);
    }
    90% {
        transform: rotate(324deg);
    }
    95% {
        transform: rotate(342deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.telefon {
    /* telefon */
    margin: 0px 0px 0px 0px;
    position: relative;
}

#tele1 {
    /* telefon unten */
    height: 15vw;
    margin: 0;
    position: absolute;
    z-index: 2;
    padding-bottom: 7vh;
    pointer-events: none;
}

#tele2 {
    /* telefon oben */
    height: 15vw;
    margin: 0;
    position: relative;
    z-index: 1;
    padding-bottom: 7vh;
}

#tele1:hover {
    transform: none;
}

#tele2:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


/* ----- ----- ----- FOOTER ----- ----- ----- -----*/

footer {
    width: 100%;
    height: 70px;
    background-color: #433825;
    bottom: 0;
    position: relative;
    z-index: 2;
}

#pfooter {
    font-family: 'bowlby_one_scregular';
    font-size: 20px;
    color: #CABA9F;
    padding-top: 25px;
    margin: 0;
}


/* ----- ----- ----- MEDIA ----- ----- ----- -----*/

@media screen and (max-width:1300px) {
    h1 {
        font-size: 90px;
    }
    #insta,
    #art,
    #mail,
    #discord {
        /* icon */
        width: 4vw;
        height: 4vw;
    }
    .streifen {
        gap: 15px;
    }
    .streifen>div {
        padding: 18px;
    }
    h2 {
        font-size: 80px;
        margin: 175px auto 0px auto;
    }
    p {
        margin: 0px 250px 0px 250px;
        font-size: 32px;
    }
    #email {
        font-size: 32px;
    }
    .kekspic {
        margin: 50px 0px 0px 0px;
        width: 25vw;
    }
    .pic {
        margin: 0px 0px 200px -10px;
        width: 30vw;
    }
    .pic2 {
        margin: 120px 0px 0px 100px;
        width: 25vw;
    }
    #tele1,
    #tele2 {
        height: 17vw;
        padding-bottom: 10vh;
    }
    #pfooter {
        font-size: 28px;
    }
}

@media screen and (max-width:1024px) {
    #insta,
    #art,
    #mail,
    #discord {
        /* icon */
        width: 6vw;
        height: 6vw;
    }
    p {
        margin: 0px 130px 0px 130px;
        font-size: 32px;
    }
    #email {
        font-size: 32px;
    }
    .kekspic {
        /* keks */
        margin: 50px 0px 0px 0px;
        width: 30vw;
    }
    .pic {
        margin: 0px 0px 200px -10px;
        width: 35vw;
    }
    .pic2 {
        margin: 120px 0px 0px 100px;
        width: 30vw;
    }
    #tele1,
    #tele2 {
        height: 23vw;
        padding-bottom: 7vh;
    }
    #pfooter {
        font-size: 28px;
    }
}

@media screen and (max-width:768px) {
    h1 {
        font-size: 80px;
    }
    #insta,
    #art,
    #mail,
    #discord {
        /* icon */
        width: 7vw;
        height: 7vw;
    }
    .streifen {
        gap: 15px;
    }
    .streifen>div {
        padding: 25px;
    }
    h2 {
        font-size: 60px;
        margin: 135px auto 0px auto;
    }
    p {
        margin: 0px 100px 0px 100px;
        font-size: 25px;
    }
    #email {
        font-size: 25px;
    }
    .kekspic {
        /* keks */
        margin: 50px 0px 0px 0px;
        width: 30vw;
    }
    .pic {
        margin: 0px 0px 150px -10px;
        width: 35vw;
    }
    .pic2 {
        margin: 80px 0px 0px 80px;
        width: 30vw;
    }
    #tele1,
    #tele2 {
        height: 22vw;
        padding-bottom: 7vh;
    }
    #pfooter {
        font-size: 20px;
    }
}

@media screen and (max-width:480px) {
    h1 {
        font-size: 50px;
    }
    #insta,
    #art,
    #mail,
    #discord {
        /* icon */
        width: 9vw;
        height: 9vw;
    }
    .streifen {
        gap: 10px;
    }
    .streifen>div {
        padding: 10px;
    }
    h2 {
        font-size: 40px;
        margin: 135px auto 0px auto;
    }
    p {
        margin: 0px 20px 0px 20px;
        font-size: 20px;
    }
    #email {
        font-size: 20px;
    }
    .kekspic {
        /* keks */
        margin: 50px 0px 0px 0px;
        width: 50vw;
    }
    .pic {
        margin: 30px 120px 0px 0px;
        width: 55vw;
    }
    .pic2 {
        margin: -10px 0px 0px 140px;
        width: 50vw;
    }
    #tele1,
    #tele2 {
        height: 25vw;
        padding-bottom: 8vh;
    }
    #pfooter {
        font-size: 15px;
    }
}


/*@media screen and (max-width:300px) {
    html,
    body {
        height: 100%;
        overflow: hidden;
    }
    .nochnicht {
        padding-top: 20vw;
        width: 90vw;
        height: 80vh;
        object-fit: contain;
        box-shadow: #000;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        place-items: center;
        width: 100%;
        height: 100%;
        background: #dbd3bbd8;
        z-index: 2;
    }
    #nochnichttext {
        font-family: Bowlby One SC;
        list-style-type: none;
        color: #433825;
        font-size: 4vw;
        margin: -80vw 5vw 0 5vw;
        line-height: 100%
    }
}*/
